// 公共类名
// font-weight 100 - 900
@for $i from 1 through 9 {
  .font-weight-#{$i}00 {
    font-weight: #{$i}00;
  }
}

// margin：1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40
@each $direction, $property in (t:top, b: bottom, l: left, r: right) {
  @each $size in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40 {
    .m#{$direction}-#{$size} {
      margin-#{$property}: #{$size}px;
    }
  }
}

// padding: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40
@each $direction, $property in (t:top, b: bottom, l: left, r: right) {
  @each $size in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40 {
    .p#{$direction}-#{$size} {
      padding-#{$property}: #{$size}px;
    }
  }
}

.border-box {
  box-sizing: border-box;
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.mc {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.self-start {
  align-items: self-start;
}

.self-center {
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.font-bold {
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

.select {
  background-color: var(--primary-color);
  color: var(--white);
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

// 多行文本溢出显示省略号
@mixin text-ellipsis($lines: 1) {
  @if $lines == 1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


